/* element selectors */
:root {
    --dark-grey: #0D0D0D;
    --grey: #0D0D0D;
    --dark-green: #022601;
    --green: #308C36;
    --light-green: #4BBF52;
}

body{
    background-color: var(--dark-grey);
}

a {
    text-decoration: none;
}

h1, p{
    color: #b6b2b2;
}

p {
    font-size: 1.6rem;
}

h1 {
    font-size: 2.3rem;
}

br {
    width: 100%;
    margin: 2rem;
}

/* class selectors */
.display-none {
    display: none;
}

.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 2.5rem;
    align-items: center;
}

.flex-column {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

.justify-center {
    justify-content: center;
}

.button {
    width: 20rem;
    padding: .8rem .8rem;
    text-align: center;
    border: 0.1rem solid var(--dark-green);
    margin-bottom: 1.1rem;
    background-color: var(--grey);
    color: var(--green);
    border-radius: 1rem 1rem 1rem 1rem;
    font-size: 1.8rem;
    font-weight: bold;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    box-shadow: 0 0.2rem .4rem 0 var(--dark-green);
    background-color: var(--green);
    color: var(--grey);
}

/* id selectors */
#hero {
    font: 800 5rem Arial;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px var(--light-green);
    font-size: 8.5rem;
    padding-left: 7rem;
    padding-right: .6rem;
}

#header-end-icon {
    padding-left: .5rem;
}

#header-start-icon {
    padding-right: .5rem;
}

#questions-button {
    margin-top: 2rem;
}